<div class="container">
    <div class="page-header">
		    <h1>Welcome, {{user.fname}} {{user.lname}} <small> | {{user.role.class}}: {{user.role.position}}</small></h1>
		    <h3><small>What would you like to do?</small></h3>
	  </div>
    
    <ul class="nav nav-tabs">
        <li data-ng-repeat="ability in user.abilities"><a ui-sref="{{ability.state}}">{{ability.name}}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" ui-view>
        
        </div>
    </div>
</div>