<div class="container" data-ng-if="user.role.class === 'Player' || user.role.class === 'Coach'">

	<form ng-submit="postReq(player, staff, issue)">
		<div data-ng-if="user.role.class === 'Coach'">
			<h3><small>Select Your Player:</small></h3>
			<select ng-model="player">
				<option ng-repeat="player in players" value="{{player.email}}">{{player.lname}}, {{player.fname}}: {{player.role.position}} ({{player.email}})</option>
			</select>
		</div>

		<h3><small>Select Your Medical Staff:</small></h3>
		<select ng-model="staff">
			<option ng-repeat="staff in med_staff" value="{{staff.email}}">{{staff.lname}}, {{staff.fname}}: {{staff.role.position}} ({{staff.email}})</option>
		</select>
		<h3><small>Whats wrong?</small></h3><input type="text" ng-model="issue" size"150">
	  	<br><br>

	  	<input type="submit">
	</form>
</div>

<div class="container" data-ng-if="currentUserData.role.class === 'Medic'">
  <div class="container">
  	<h3><small>{{user.fname}} {{user.lname}}'s Medical Schedule</small></h3>
  	<table class="table">
    <tr>
      <th>Player</th>
      <th>Staff</th>
      <th>Check</th>
    </tr>
    <tr data-ng-repeat="case in med_reqs" >
      <td>{{case.player}}</td>
      <td>{{case.staff}}</td>
      <td>{{case.request}}</td>
			<td>
				<input type="button" value="Resolved" class="btn btn-primary" ng-click="removeIssue(case._id)"/>
			</td>
    </tr>
  </table>
  </div>

  <style>
  table, th , td {
    border: 3px solid grey;
    border-collapse: collapse;
    padding: 15px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>

</div>
