<div class="container" data-ng-if="currentUserData.role.class !== 'Player'">
  {{user.email}}
  <div class="container">
  	<h3><small>Medical Schedule</small></h3>
  	<table>
    <tr>
      <th>Player</th>
      <th>Staff</th>
      <th>Check</th>
    </tr>
    <tr data-ng-repeat="case in med_reqs" >
      <td>{{case.player}}</td>
      <td>{{case.staff}}</td>
      <td>{{case.request}}</td>
    </tr>
  </table>
  </div>

  <style>
  table, th , td {
    border: 3px solid grey;
    border-collapse: collapse;
    padding: 15px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>

</div>

<div class="container" data-ng-if="currentUserData.role.class === 'Player'">
  {{user.email}}
  <div class="container">
    <h3><small>{{user.fname}} {{user.lname}}'s Medical Schedule</small></h3>
    <table>
    <tr>
      <th>Player</th>
      <th>Staff</th>
      <th>Check</th>
    </tr>
    <tr data-ng-repeat="case in med_reqs" >
      <td>{{case.player}}</td>
      <td>{{case.staff}}</td>
      <td>{{case.request}}</td>
    </tr>
  </table>
  </div>

  <style>
  table, th , td {
    border: 3px solid grey;
    border-collapse: collapse;
    padding: 15px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>
</div>
