<div class="container" data-ng-if="user.role.class === 'Coach' || user.role.class === 'Player'">
	<p>Slobs and Blobs (Slide Line Out Of Bounds and Baseline Out Of Bounds)</p> </br>

  	<img src="/images/Slob_blob0.png" width="1000" height="1500"/> <br/>
	<img src="/images/Slob_blob1.png" width="1000" height="1500"/> </br>
	<img src="/images/Slob_blob2.png" width="1000" height="1500"/> </br>
	<img src="/images/Slob_blob3.png" width="1000" height="1500"/> </br>
	<img src="/images/Slob_blob4.png" width="1000" height="1500"/> </br>

	<p>Man Offense</p> </br>

	<img src="/images/Man_Off0.jpg" width="1000" height="1500"/> </br>
	<img src="/images/Man_Off1.jpg" width="1000" height="1500"/> </br>
	<img src="/images/Man_Off2.jpg" width="1000" height="1500"/> </br>
	<img src="/images/Man_Off3.jpg" width="1000" height="1500"/> </br>
	<img src="/images/Man_Off4.jpg" width="1000" height="1500"/> </br>
</div>