<!DOCTYPE html>
<html data-ng-app="gso-soldiers-ops">
    <head>
        <title>GSO Soldiers</title>

        <!--Angular JS-->
        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/angular-route.min.js"></script>
        <script src="/javascripts/jquery-1.12.1.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/angular-css.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/stylesheets/signin.css" rel="stylesheet">
        <link href="/stylesheets/userPageCSS.css" rel="stylesheet">
        <link href="/stylesheets/registerCSS.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <!-- Custom styles for this template -->

        <base href="/">
    </head>

    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right" >
                    <li data-ng-if="route.require_login"><a style="color: black; background-color: transparent" role="button" target="_blank" data-ng-click="logout()">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>

            </div>
        </nav>
        <div data-ng-view>

        </div>
    </body>
</html>