<!DOCTYPE html>
<html data-ng-app="gso-soldiers-ops">
    <head>
        <title>GSO Soldiers</title>

        <!--Angular JS-->
        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/angular-ui-router.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/config.js"></script>
        <script src="/javascripts/factory.js"></script>
        <script src="/javascripts/controller.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="/javascripts/angular-css.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.vertical-tabs.css">
        <link href="/stylesheets/signin.css" rel="stylesheet">
        <link href="/stylesheets/userPageCSS.css" rel="stylesheet">
        <link href="/stylesheets/registerCSS.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/images/BoroSo Simple.png"/>
        <!-- Custom styles for this template -->
    </head>

    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right" >
                    <li data-ng-if="state.require_login"><a style="color: black; background-color: transparent" role="button" target="_blank" data-ng-click="logout()">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>

            </div>
        </nav>
        <div ui-view>

        </div>
        <footer class="footer" style="width:100%; text-align:center; padding-bottom:20px;">
            <hr/>
            <a href="https://github.com/dbtek/bootstrap-vertical-tabs">Bootstrap Vertical Tabs</a> is brought to you by <a href="http://ismaildemirbilek.com">dbtek</a>, open sourced under <a href="opensource.org/licenses/MIT">MIT</a> license.
        </footer>
    </body>
</html>